body {
  background-color: rgba(238, 238, 238, 255);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 255);
}

li {
  float: left;
}

li a {
  display: flex;
  color: white;
  justify-content: center;
  padding: 14px 16px;
  text-decoration: none;
  color: rgba(161, 161, 161, 255);
}

#Headings {
  color: #76b900;
  text-align: center;
  font-family: "Ropa Sans", sans-serif;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
}

.images-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.image {
  margin: 1px 15px;
}

.whiteTile {
  /* box-sizing: border-box; */
  background-color: white;
  height: 100px;
  width: 295px;
  /* position: absolute;
  box-shadow: 1px 1px 5px 6px #ccc; */
}
